.button {
    @include reset-button();
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  
    font-size: var(--button-font-size);
    font-weight: 600;
    text-wrap: nowrap;
    width: 160px;
  
    background-color: var(--color-light);
    border-radius: 30px;
    border: 1px solid var(--color-accent);
    padding-inline: var(--button-padding-x);
    height: var(--button-height);
  
    cursor: pointer;
  
    @include hover {
      background-color: var(--color-accent-light);
    }
  }